@media only screen and (min-width: 1200px) and (max-width:1400px){
    .section-title::after {
        bottom: -2px;
    }
    .single-counter h4 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px){
    .section-title::after {
        bottom: -2px;
    }
    .single-counter h4 {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px){
    .header-area{
        padding: 20px 0;
    }
    .section-title::after {
        bottom: 10px;
    }
}

@media only screen and (max-width:768px){
    .top-bar-info a {
        display: block;
    }
    .section-title:before, .section-title:after {
        display: none;
    }
    .portfolio-menu {
        flex-direction: column;
        text-align: center;
    }
    .portfolio-menu li {
        margin-bottom: 10px;
    }
}